body {
    font-family: Arial;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
}

.page-header {
    background-color: #445162;
    min-height: 323px;
    width: 100%;
    padding: 50px;
    color: #fff;
    box-sizing: border-box;
}

.page-header-text {
    float: left;
}

.page-header-h1 {
    display: block;
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.page-header-text ul {
    font-size: 20px;
    line-height: 35px;
    list-style-image: url(../img/check.png);
    margin: 0;

}


.page-header-img {
    background-color: #fff;
    float: right;
    display: block;
}

.about {
    min-height: 345px;
    padding: 50px;
    box-sizing: border-box;
}

.about:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-text {
    margin: 0;
    float: left;
    width: 55%;

}

.about-text-h2 {
    display: block;
    font-size: 30px;
    color: #445162;
    font-weight: 400;
    margin: 0;
}

.about-text p {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    margin: 20px 0 0 0;

}

.about-img {
    float: right;
    background-color: #445162;
    margin: 0;
}

.ul-dignity {
    padding: 50px;
    box-sizing: ;
    min-height: 415px;
    background-color: #f5f5f5;
}

.ul-dignity-h2 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 20px 0;
}

.ul-dignity ul {
    color: #333333;
    font-size: 16px;
    line-height: 25px;
    column-count: 2;
    margin: 0;

}

.ul-dignity-li {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    position: relative;
}

.ul-dignity-li:nth-child(3),
.ul-dignity-li:nth-child(6) {
    margin: 0;
}

.ul-dignity-li:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/plus.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 7px;
}

.screenshots {
    clear: both;
    padding: 50px 30px 50px 50px;
    min-height: 485px;

}

.screenshots-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #445162;
}

.screenshots-img {
    background-color: #445162;
    float: left;
    margin: 0 20px 0 0;
}

.screenshots h3 {
    color: #333333;
    margin: 0;
    font-size: 24px;
    font-weight: 400;

}

.screenshots figure {
    display: inline-block;
    width: 49%;
    min-height: 150px;
    margin: 30px 0 0 0;
}

.screenshots figcaption {
    font-size: 16px;
    color: #333;
    line-height: 22px;
}

.reviews {
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.reviews-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #445162;
    margin: 0;
}

.reviews-div {
    display: inline-block;
    width: 49%;
    position: relative;
    margin: 40px 0 0 0;

}

.reviews-div:before {
    border: 1px solid red;
    display: block;
    content: "";
    width: 80%;
    min-height: 130px;
    position: absolute;
    left: 90px;
    background-color: #ebebeb;
    z-index: 0;
    border-radius: 10px;
}

.reviews-userpic {
    border-radius: 70px;
    background-color: #445162;
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

.reviews-p {
    margin: 0 0 15px 0;
    z-index: 90;

}

.reviews-username {
    text-decoration: none;
    color: #989898;
    font-size: 14px;
    position: relative;
    left: 90px;
}








.contacts {
    min-height: 500px;
    background-color: #445162;
    padding: 50px;
}

.contacts h2 {
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    margin: 0;
}



.copyrights {
    min-height: 25px;
    background-color: #fff;

}

.copyrights p {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    color: #445162;
}
