body {
    font-family: Arial;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
}

.page-header {
    background-color: #445162;
    min-height: 323px;
    width: 100%;
    padding: 50px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page-header-h1 {
    display: block;
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.page-header-text ul {
    font-size: 20px;
    line-height: 35px;
    list-style-image: url(../img/check.png);
    margin: 0;
}

.page-header-img {
    background-color: #fff;
}

.about {
    min-height: 345px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.about:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-text {
    margin: 0;
    width: 55%;
}

.about-text-h2 {
    display: block;
    font-size: 30px;
    color: #445162;
    font-weight: 400;
    margin: 0;
}

.about-text p {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    margin: 20px 0 0 0;
}

.about-img {
    background-color: #445162;
    margin: 0;
}

.ul-dignity {
    padding: 50px;
    box-sizing: ;
    min-height: 415px;
    background-color: #f5f5f5;
}

.ul-dignity-h2 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 20px 0;
}

.ul-dignity ul {
    color: #333333;
    font-size: 16px;
    line-height: 25px;
    column-count: 2;
    margin: 0;
}

.ul-dignity-li {
    display: inline-block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    position: relative;
}

.ul-dignity-li:nth-child(3),
.ul-dignity-li:nth-child(6) {
    margin: 0;
}

.ul-dignity-li:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/plus.png);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 7px;
}

.screenshots {
    clear: both;
    padding: 50px 30px 50px 50px;
    min-height: 485px;
}

.screenshots p {
    margin: 10px 0 0 0;
}

.screenshots-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #445162;
}

.screenshots-img {
    background-color: #445162;
    float: left;
    margin: 0 20px 0 0;
}

.screenshots h3 {
    color: #333333;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.screenshots figure {
    display: inline-block;
    width: 49%;
    min-height: 150px;
    margin: 30px 0 0 0;
}

.screenshots figcaption {
    font-size: 16px;
    color: #333;
    line-height: 22px;
}

.reviews {
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.reviews-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #445162;
    margin: 0;
}

.reviews-div {
    display: inline-block;
    width: 49%;
    margin: 25px 0 0 0;
}

.reviews-cite {
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 100px;
    width: 75%;
    background-color: #ebebeb;
    border-radius: 5px;
}

.reviews-cite:before {
    content: "";
    display: block;
    position: absolute;
    left: -12px;
    top: 30px;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 12px solid #ebebeb;
}

.reviews-userpic {
    border-radius: 40px;
    background-color: #445162;
    display: block;
    position: absolute;
    margin: 0 0px 0 0px;
}

.reviews-p {
    margin: 0 0 10px 0;
    text-align: justify;
}

.reviews-username {
    text-decoration: none;
    color: #989898;
    font-size: 14px;
}

.prices {
    padding: 50px;
    box-sizing: border-box;
}

.prices-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #445162;
    margin: 0 0 30px 0;
}

.prices-wrp {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.prices-div {
    background-color: #445162;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    margin: 0 45px 0 0;
}

.prices-div:last-child {
    margin: 0;
}

.prices-div h3 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 15px 0 15px 0;
}

.prices-span {
    display: block;
    background-color: white;
    min-height: 50px;
    text-align: center;
    font-size: 40px;
    color: #445162;
    border: 1px solid #445162;
    box-sizing: border-box;
    padding: 10px;
}

.prices-div ol {
    color: white;
    line-height: 30px;
    width: 100%;
    box-sizing: border-box;
}

.prices-btn {
    min-height: 40px;
    display: block;
    width: 90%;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 750;
    text-transform: uppercase;
    color: #445162;
    margin: 0 auto;
    margin-bottom: 15px;
    border: none;
}

.prices-btn:hover {
    background-color: #ebebeb;
    font-weight: 800;
}

.prices-btn:active {
    background-color: #445162;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
}

.contacts {
    min-height: 500px;
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

.contacts-h2 {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    margin: 0;
}

.contacts-container {
    display: flex;
    justify-content: center;
}

.contacts-form-wrp {
    width: 48%;
}

.contacts-form input[type=text],
input[type=email],
textarea {
    width: 100%;
    min-height: 40px;
    border-radius: 7px;
    margin: 15px 0 0 0;
    font-size: 16px;
    color: #445162;
    resize: none;
    font-family: Arial;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
}

.contacts-form textarea {
    padding: 10px 0 0 10px;
}

.contacts-form input[type=submit] {
    width: 29%;
    min-height: 40px;
    border-radius: 7px;
    margin: 15px 0 0 35%;
    text-transform: uppercase;
    font-weight: 750;
    color: #445162;
    font-size: 16px;
    border: none;
}

.contacts-form input[type=submit]:hover {
    background-color: #ebebeb;
    font-weight: 800;
}

.contacts-form input[type=submit]:active {
    background-color: #445162;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
}

.contacts-sm {
    width: 20%;
    margin: 15px 0 0 40px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.contacts-sm-link {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.contacts-sm-link:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
}

.link1:before {
    background-image: url(../img/skype.png);
}

.link2:before {
    background-image: url(../img/icq.png);
}

.link3:before {
    background-image: url(../img/mail.png);
}

.link4:before {
    background-image: url(../img/phone.png)
}

.contacts-sm-link:last-of-type {
    margin: 0 0 32px 0;
}

.contacts-sm-icons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.contacts-sm-icons-net {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
}

.icon1 {
    background-size: cover;
    background-image: url(../img/twitter.png);
}

.icon2 {
    background-size: cover;
    background-image: url(../img/facebook.png);

}

.icon3 {
    background-size: cover;
    background-image: url(../img/linkedin.png);
}

.icon4 {
    background-size: cover;
    background-image: url(../img/google.png);
}

.icon5 {
    background-size: cover;
    background-image: url(../img/facebook.png);
}

.copyrights {
    min-height: 25px;
    background-color: #fff;
}

.copyrights p {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    color: #445162;
    margin: 0;
}
